*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code';

}
body{
	min-height:100vh;
	background: #970248;
	overflow:hidden;
}
.container{
	width: 90%;
	height: 100%;
	margin: auto;
}

.header{
	width: 100%;
	height: 60px;
	background: #970248;

}
.logo{
	float:left;
	line-height:60px;
	margin-left:100px;
}
.logo h1{
	color: #f2efe9;
	text-transform: uppercase;
	font-size: 2.5em;
}
ul{
	float: right;
	margin-right:100px;
}
ul li{ 
	display: inline-block;
	list-style: none;
	line-height: 60px;
}

ul li a{ 
	color:#f2efe9;
	text-decoration:none;
	padding:10px 20px;
	text-transform: uppercase;

}

ul li a:hover{
	color:#970248;
background: white;
}
/*--------------content----------------*/

.content{
	width: 95%;
	margin-left: 2.5%;
	min-height: 100vh;
	background-image: url("lovesmall.jpg");
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	mix-blend-mode: screen;

}

.box{
	width: 600px;
	height: 500px;
	margin-left: 100px;
	position: relative;

}

img{
	position: absolute;
	top:14%;
	right: 50px;
	width: 600px;
	height: 600px;
	display: block;
	object-fit: cover;
	mix-blend-mode: color;
	pointer-events: none;
}

.text{
	width: 720px;
	padding: 50px;
	color:#970248;	
	position: absolute;
	margin-left: 50px;
	top:50%;
	left: 0;
	transform: translateY(-50%);

}

.text h2{
	font-size:2em;
	margin: 20px 0;
}

.text h3{
	font-size: 1.6em;
}

.text p{
	line-height:1.5;
}

.text a{
	color: white;
	text-decoration: none;
	background:#970248;
	padding: 10px 25px;
	display: inline-block;
	margin-top: 15px;

}

.text a:hover{
	color: #970248;
	background: #f2efe9;

}

@media (max-width: 1150px){
	ul{
		position: sticky;
		top:0;
		left:0;
		z-index: 99;
		background: #970248;
		width:100%;
		margin:0;
		text-align: center;

			}
			.logo{
				
				margin-left:0;
				text-align:center;
			}

}

@media (max-width: 920px){
	body{
		overflow: auto;
	}
	.box{
		margin-left: 0;

	}
}
.content{
	justify-content: center;
}
.text{
	width: 100%;
	margin-left: 0;
	padding: 10px;
}
}














